/bin/catalyst
/bin/catalyst.exe
/bin/ameba
/bin/ameba.exe
/bin/generate_docs
/lib/
hello_enterprise/
*.txt
build_categorization.py
docs/rules/
/docs/

# Crystal
*.dwarf
.*.swp
.crystal

# Editor
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
